@page "/arbejdsudgiver/{ProfileUserId:int}"
@using HttpClients
@using HttpClients.Services
@inject AuthService AuthService
@attribute [Authorize]

@if (profile == null && errorLabel == null)
{
    <p>Loading...</p>
}
else if (errorLabel != null)
{
    <p>Error: @errorLabel</p>
}
else if (profile != null)
{
    <MudStack Spacing="4">
        <MudStack Spacing="8" Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudAvatar Size="Size.Medium" Color="Color.Secondary">@profile.FirstName[0]</MudAvatar>
            <MudText Typo="Typo.h6">@profile.FirstName @profile.LastName</MudText>
        </MudStack>

        <MudStack Row="true" Spacing="4">
            <MudText>@profile.Workplace - @profile.Title</MudText>
        </MudStack>
    </MudStack>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    
    [Parameter]
    public int ProfileUserId { get; set; }

    private EmployerInfoDTO? profile;
    private string? errorLabel;
    
    protected override async Task OnInitializedAsync()
    {
        await GetProfileAsync();
    }

    private async Task GetProfileAsync()
    {
        try
        {
            profile = await AuthService.GetEmployerInfoAsync(ProfileUserId);
        }
        catch
        {
            errorLabel = "Der skete en fejl";
        }
    }

}